<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p" xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- First way of injecting data  -->
    <bean id="std1" class="com.springcore.Student" name="umesh">
        <property name="studentId">
            <value>123</value>
        </property>
        <property name="studentName">
            <value>Umesh Kumar</value>
        </property>
        <property name="studentAddress">
            <value>Ranchi Jharkhand</value>
        </property>
    </bean>

    <!-- Second Way to Inject Data in Student Bean class -->
    <bean id="" class="com.springcore.Student" name="rahul">
        <property name="studentId" value="111"/>
        <property name="studentName" value="Rahul Singh"/>
        <property name="studentAddress" value="Delhi"/>
    </bean>

    <!-- Third Way : BY p:schema -->
    <bean id="" class="com.springcore.Student" name="dinesh" p:studentId="154" p:studentName="Dinesh Yadav" p:studentAddress="Bihar"/>

</beans>